.bg-color {
    background-color: bisque;
}

h2 {
    text-align: center;
    margin-top: 2rem;
}

.pp {
    border-radius: 20rem;
    width: 8rem;
}

.pp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}